body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div{
  margin:0;
  padding:0;
  border:0;
}
body{
  background: #ffffff;;
  color: #009000;
  font:14px/1.5,"SimSun","宋体","Arial Narrow";
  margin-top:.3rem;
}
ul,ol{list-style:none;}
select,input,img,select{vertical-align:middle;}

a{text-decoration:none;}
a:link{color:#009;}
a:visited{color:#800080;}
a:hover,
a:active,
a:focus{
  color:#c00;
  text-decoration:none;
}

.loading{
  display: block;
  margin:18.75rem auto; 
}